.newsfeed {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsfeed > h2 {
  margin: 10px 0;
}

.newsfeed-load-more {
  background-color: $secondary;
  color: #fff;
  margin: 16px auto;
  padding: 8px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

@media (min-width: 1240px) {
  .newsfeed {
    width: 1240px;
    margin: auto;
  }

  .newsfeed > h2 {
    text-align: center;
  }
}

.newsfeed-feed {
  display: grid;
  gap: 20px;
}

@media (min-width: 420px) {
  .newsfeed-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: space-evenly;
    align-items: flex-end;
  }
}

.news {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.news-image {
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
}

.news-image div {
  margin: auto;
}

.news-image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 3px $shadow;
}

.newscard {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  background-color: $primary;
  box-shadow: 0px 0px 3px $shadow;
}

.newscard-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.newscard-subtitle {
  margin: 10px 0;
  font-size: 16px;
}

.newscard-extra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newscard-date {
  font-size: 14px;
}

.newscard-link {
  padding: 8px;
  border-radius: 10px;
  background-color: $secondary;
  color: #fff;
}

.newscard-link:hover {
  color: #fff;
}

@media (min-width: 840px) {
  .newscard-title {
    max-height: 44px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .newscard-subtitle {
    max-height: 98px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
  }

  .news:hover .newscard {
    box-shadow: 0px 0px 8px $shadow;
  }
}
