* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a, a:hover, a:active {
    color: var(--text);
    text-decoration: none;
}

.light {
    --primary: #fafafa;
    --secondary: #955251;
    --secondayRGB: 149, 82, 81;
    --text: #121212;
    --textRGB: (18, 18, 18);
}

.dark {
    --primary: #121212;
    --secondary: #955251;
    --secondayRGB: rgb(149, 82, 81);
    --text: #fafafa;
}

#root {
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    padding: 10px;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 66px auto;
    align-items: center;
    background-color: var(--primary);
    user-select: none;
}

.logo {
    -webkit-tap-highlight-color: transparent;
}

.logo img {
    width: 80px;
    height: 66px;
}

.nav-toggle {
    width: 35px;
    height: 28px;
    margin-left: auto;
    margin-right: 5px;
    margin-top: -8px;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.nav-toggle span {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--secondary);
    position: absolute;
}

.nav-toggle span:first-child {
    top: 0;
    left: 0;
}

.nav-toggle span:nth-child(2) {
    top: 12px;
    left: 0;
}

.nav-toggle span:last-child {
    bottom: 0;
    left: 0;
}

.nav-toggle-open span {
    top: 12px !important;
    left: 0;
}

.nav-toggle-open span:first-child {
    transform: rotate(45deg);
}

.nav-toggle-open span:nth-child(2) {
    display: none;
}

.nav-toggle-open span:last-child {
    transform: rotate(-45deg);
}

.nav {
    grid-column: 1/3;
    /* -10px removes header margins */
    margin: 10px -10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
    padding: 0 20px;
}

.nav-desktop {
    grid-column: auto;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    min-width: fit-content;
    width: fit-content;
}

.nav-desktop .nav-link {
    margin: 0 5px;
    padding: 0 20px;
}

.nav-desktop .nav-link-with-submenu {
    position: relative;
    margin: 0 5px;
    padding: 0 20px;
}

.nav-desktop .nav-link-with-submenu:hover .nav-link-items {
    display: block !important;
}

.nav-desktop .nav-link-with-submenu p {
    white-space: nowrap;
}

.nav-desktop .nav-link-items {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0;
    background-color: var(--primary);
}

.nav-desktop .nav-link-items .nav-link {
    margin: 15px 0;
}

.nav ul {
    list-style: none;
}

.nav-link, .nav-link-with-submenu {
    margin: 5px 0;
}

.nav-link a {
    color: var(--secondary);
}

.nav-link-with-submenu p {
    color: var(--secondary);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-link-with-submenu span {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.nav-link-items {
    margin-left: 10px;
}

.nav-link-with-submenu {
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}

.nav-link-social img {
    width: 24px;
    height: 24px;
}

.nav-link-social img:first-of-type {
    margin-right: 10px;
}

/* MAIN */

.main {
    flex-grow: 1;
}

/* swiper news feed */

.swiper {
    width: 100%;
    aspect-ratio: 4 / 5;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fafafabb;
    -webkit-tap-highlight-color: transparent;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 18px;
    color: var(--secondary);
    font-weight: 900;
}

.swiper-pagination-bullet {
    background: var(--secondary);
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: var(--secondary) 1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.news-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.news-slide-data {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    /* bottom pagination es 18 + 10 margin bottom  */
    bottom: 0;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5px 2fr 5px 12px;
    color: var(--text);
    background-image: linear-gradient(#fafafa, #fafafa00);
}

.news-slide-data > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.news-slide-title, .news-slide-subtitle {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    overflow: hidden;
}

.news-slide-data a {
    color: var(--text);
}

.news-slide-title, .news-slide-subtitle, .news-slide-date {
    padding: 0 10px;
    text-align: justify;
    user-select: none;
}

.news-slide-title {
    font-size: 16px;
}

.news-slide-subtitle {
    font-size: 12px;
}

.news-slide-date {
    text-align: right;
    font-size: 12px;
    margin-right: 10px;
}

@media screen and (min-width: 500px) {
    .swiper {
        margin: 20px auto;
        height: 400px;
    }

    .swiper-button-prev {
        left: calc(50vw - 160px - 40px) !important;
    }

    .swiper-button-next {
        right: calc(50vw - 160px - 40px) !important;
    }

    .swiper-button-prev, .swiper-button-next {
        display: flex;
    }

    .swiper-button-disabled {
        display: none;
    }

    .swiper-slide {
        width: 320px;
        height: 400px;
        opacity: 0.6;
    }

    .swiper-slide-active {
        opacity: 1;
    }
}

/* news feed */

.news-feed-title {
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    place-items: center;
    background-color: var(--secondary);
}

.news-feed-title h2 {
    text-align: center;
    color: var(--primary);
}

.news-feed article {
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
    max-height: 250px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: calc(100vw * 5 / 12);
}

.news-feed img {
    width: 100%;
    aspect-ratio: 4/5;
}

.news-feed-data {
    width: 100%;
    padding: 5px;
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5px 2fr 5px 14px;
}

.news-feed-data > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.news-feed-data-title, .news-feed-data-subtitle {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    overflow: hidden;
}

.news-feed-data-title {
    font-weight: 600;
}

.news-feed-data-date {
    text-align: right;
    font-size: 14px;
}

@media screen and (min-width: 600px) {
    .news-feed {
        margin-top: 20px;
    }

    .news-feed-data {
        height: 250px;
    }
}

/* pagination */

.pagination {
    width: 100%;
    margin-bottom: 5px;
}

.pagination ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.pagination button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 0;
    cursor: pointer;
    user-select: none;
    height: 30px;
    min-width: 30px;
    margin: 0 1px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

.pagination button:hover {
    background-color: rgba(var(--secondayRGB), 0.7);
    color: var(--primary);
}

.pagination button:hover:has(svg) {
    background-color: transparent;
    color: var(--secondary);
}

.pagination button svg {
    width: 20px;
    height: 20px;
}

.pagination--unactive svg {
    color: #999;
}

button.pagination--active, button.pagination--active:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

/* FOOTER */

.footer {
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer > div {
    margin: 5px 0;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-social img {
    width: 50px;
    margin: 0 10px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo img {
    margin: auto;
    padding: 10px;
}

.footer-logo .dat {
    width: 120px;
}

.footer-logo .etsit {
    width: 150px;
}

.footer-logo .upv {
    width: 160px;
}

@media screen and (min-width: 650px) {
    .footer-logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-logo .etsit {
        width: 250px;
    }

    .footer-logo .upv {
        width: 260px;
    }
}