.header {
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 66px auto;
    align-items: center;
    user-select: none;
}

.header-left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.logo {
    -webkit-tap-highlight-color: transparent;
}

.logo img {
    width: 80px;
    height: 66px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding-right: 5px;
}
