.newsfeed {
    margin: 0 10px;
}

.newsfeed > h2 {
    margin: 10px 0;
}

@media (min-width: 1200px) {
    .newsfeed > h2 {
        text-align: center;
    }
}

.newsfeed-feed {
    display: grid;
    gap: 20px;
}

@media (min-width: 420px) {
    .newsfeed-feed {
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        justify-content: space-around;
        align-items: flex-end;
    }
}
