@import "../../styles/variables";

.footer {
  display: flex;
  flex-direction: column;
  background-color: $datupv;
  color: #fff !important;
  text-align: center;

  & > div {
    margin: 5px 20px;
  }

  a {
    color: $white !important;
  }
}

.footer-social {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  img {
    margin: 0 10px;
    width: 30px;
  }
}

.footer-location {
  margin: 0 20px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    margin: auto;
    padding: 10px;
  }

  .dat {
    width: 120px;
  }

  .etsit {
    width: 150px;
  }

  .upv {
    width: 160px;
  }
}

@media screen and (min-width: 650px) {
  .footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      margin: 0;
    }

    .dat {
      width: 125px; 
    }

    .etsit {
      width: 190px; 
    }

    .upv {
      width: 220px; 
    } 
  }
}
