.news {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.news-image {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
}

.news-image div {
    margin: auto;
}

.news-image img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--shadow);
}

.newscard {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--primary);
    box-shadow: 1px 1px 3px var(--shadow);
}

.newscard-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.newscard-subtitle {
    margin: 10px 0;
    font-size: 16px;
}

.newscard-extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newscard-date {
    font-size: 14px;
}

.newscard-link {
    padding: 8px;
    border-radius: 10px;
    background-color: var(--secondary);
    color: #fff;
}

@media (min-width: 840px) {
    .newscard-title {
        height: 44px;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        -webkit-line-clamp: 2;
    }

    .newscard-subtitle {
        height: 98px;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 5;
        -webkit-line-clamp: 5;
    }
}