.newscard {
    width: 100%;
    min-height: 100px;
    position: relative;
    --bodySize: 70%;
    --bodyLeft: 15%
}

.newscard-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: var(--bodySize); 
    display: grid;
    place-items: center;    
}

.newscard-image-container {
    width: 100%;
    aspect-ratio: 1/1;
}

.newscard-image-container-box {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.newscard-image-container-box img {
    box-shadow: 1px 1px 2px rgba(var(--textRGB), 0.5);
}

.newscard-body {
    width: calc(var(--bodySize) + var(--bodyLeft));
    margin-left: var(--bodyLeft);
    min-height: 100px;
    box-shadow: 1px 1px 5px rgba(var(--textRGB), 0.5);
    border-radius: 10px;
    border-top-right-radius: 0;
    padding: 5px;
    padding-left: var(--bodyLeft);
    display: grid;
    grid-template-rows: 12px 1fr 15px;
    cursor: pointer;
}

.newscard-body-date {
    width: fit-content;
    margin-left: auto;
    font-size: 12px;
}

.newscard-body-title {
    padding: 5px 10px;
    font-size: 16px;
}

/* TODO: añadir textos, fechas y demás info */
/* he pensado titulo primero y debajo fecha y leer más */