@use "./variables.scss";

/* GRID */
.grid-center {
  display: grid;
  place-items: center;
}

/* FLEX */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-justifycenter {
  @extend .flex-column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-justifycenter {
  @extend .flex-row;
  justify-content: center;
}

.flex-row-justifyaround {
  @extend .flex-row;
  justify-content: space-around;
}

.flex-row-aligncenter {
  @extend .flex-row;
  align-items: center;
}

.flex-row-justitybetween-aligncenter {
  @extend .flex-row-aligncenter;
  justify-content: space-between;
}
