.newspage {
    margin: 0 15px;
    text-align: justify;
}

.subtitulo {
    font-weight: 600;

}

.date {
    text-align: right;
    color: var(--secondary);
    font-weight: 600;
    font-size: 14px;
}

.article {
    margin-top: 20px;
}

.article > * {
    margin-top: 10px;
}


@media (min-width: 800px) {
    .newspage {
        margin: auto;
        width: 800px;
    }
}