@import "../../../styles/variables";

.header-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

/* NAVBAR TOGGLE */

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  cursor: pointer;
  margin-top: -4px;
  margin-right: 5px;
  margin-left: auto;
  width: 35px;
  height: 28px;

  .header-right-container & {
    margin-left: 10px;
  }

  span {
    display: block;
    position: absolute;
    border-radius: 4px;
    background-color: $datupv;
    width: 100%;
    height: 4px;
  }

  span:first-child {
    top: 0;
    left: 0;
  }

  span:nth-child(2) {
    top: 12px;
    left: 0;
  }

  span:last-child {
    bottom: 0;
    left: 0;
  }
}

.nav-toggle-open {
  span {
    top: 12px !important;
    left: 0;
  }

  span:first-child {
    transform: rotate(45deg);
  }

  span:nth-child(2) {
    display: none;
  }

  span:last-child {
    transform: rotate(-45deg);
  }
}

/* NAVBAR */

.nav {
  display: flex;
  grid-column: 1/3;
  flex-direction: column;
  /* -20px to align with logo */
  margin: 10px -20px;
  padding: 0 20px;
  font-size: 20px;
  list-style: none;
}

.nav-link-social img {
  width: 24px;
  height: 24px;

  &:first-of-type {
    margin-right: 10px;
  }
}

/* NAVBAR DESKTOP */

.nav-desktop {
  display: flex;
  grid-column: auto;
  flex-direction: row;
  width: fit-content;
  min-width: fit-content;

  .nav-link {
    margin: 0 5px;
    padding: 0 20px;
  }

  .nav-link-with-submenu {
    position: relative;
    margin: 0 5px;
    padding: 0 20px;

    &:hover .nav-link-items {
      display: block !important;
    }

    p {
      white-space: nowrap;
    }
  }

  .nav-link-items {
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    margin: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .light & {
      background-color: $bg-light;
    }

    .dark & {
      background-color: $bg-dark;
    }

    .nav-link {
      margin: 15px 0;
    }
  }
}
