@import "../../../styles/variables";

.newsfeed-news {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.newsfeed-news-image {
  position: absolute;
  top: 0;
  right: 10%;
  left: 10%;

  div {
    margin: auto;
  }

  img {
    border-radius: 20px;
    width: 100%;

    .light & {
      box-shadow: 1px 1px 3px $shadow-light;
    }
  }
}

.newsfeed-card {
  border-radius: 20px;
  padding: 15px;
  width: 100%;

  .light & {
    box-shadow: 0px 0px 3px $shadow-light;
    background-color: $white;
  }

  .dark & {
    background-color: $primary-dark;
  }
}

.newsfeed-card-title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
}

.newsfeed-card-subtitle {
  margin: 10px 0;
  font-size: 16px;
}

.newsfeed-card-extra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.newsfeed-card-date {
  font-size: 14px;
}

a.newsfeed-card-link {
  border-radius: 10px;
  background-color: $datupv;
  padding: 8px;
  color: #fff !important;

  &:hover {
    color: #fff !important;
  }
}

@media (min-width: 840px) {
  .newsfeed-news:hover .newsfeed-card {
    .light & {
      box-shadow: 0px 0px 8px $shadow-light;
    }
    .dark & {
      box-shadow: 0px 0px 8px $shadow-dark;
    }
  }

  .newsfeed-card-title {
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    margin-top: 10px;
    max-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .newsfeed-card-subtitle {
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    margin: 10px 0;
    max-height: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
