@import "../../styles/variables";

.contact-form {
  margin: 0 10px;
}

.cookie-container {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;

  .light & {
    background-color: $bg-light;
  }

  .dark & {
    background-color: $bg-dark;
  }

  button {
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: $datupv;
    padding: 8px;
    color: #fff;
  }
}

.contact-form {
  & > * {
    display: block;
  }

  label {
    margin-bottom: 5px;
    padding-left: 8px;
    font-weight: 600;
  }

  .privacy {
    margin-top: 5px;
  }

  a {
    color: $datupv !important;
  }
}

.error-label {
  color: #ff3232;
}

.success-label {
  color: #009600;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  // border on focus is 2px, without focus is 1px. Add remaining 2px to avoid displacement
  margin-bottom: 12px; // 10px + 2px
  border-width: 1px;
  border-style: solid;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  font-size: 14px;


  .light & {
    border-color: rgba($text-light, 0.35);
    background-color: $primary-light;
    color: $text-light;
  }

  .dark & {
    border-color: rgba($text-dark, 0.35);
    background-color: $bg-dark;
    color: $text-dark;
  }

  &:focus {
    border: 2px solid $datupv;
    margin-bottom: 10px;
  }
}

.contact-form textarea {
  width: 100% !important;
  height: 200px;
  resize: none;

  &:focus {
    margin-bottom: 12px;
  }

  .light &:not(:focus) {
    border: 1px solid rgba($text-light, 0.35);
  }

  .dark &:not(:focus) {
    border: 1px solid rgba($text-dark, 0.35);
  }
}

.contact-form > div > iframe {
  display: block;
  margin: auto;
}

.contact-form input[type="submit"] {
  cursor: pointer;
  margin: 20px auto;
  border: none;
  border-radius: 10px;
  background-color: $datupv;
  padding: 8px;
  color: #fff;
  font-size: 20px;
}

@media (min-width: 420px) {
  .contact-form {
    margin: 0 auto;
    width: 400px;
  }
}
