.footer {
  display: flex;
  flex-direction: column;
  background-color: $datupv;
  color: #fff !important;
  text-align: center;
}

.footer > div {
  margin: 5px 20px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.footer-social img {
  margin: 0 10px;
  width: 50px;
}

.footer-location {
  margin: 0 20px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-logo img {
  margin: auto;
  padding: 10px;
}

.footer-logo .dat {
  width: 120px;
}

.footer-logo .etsit {
  width: 150px;
}

.footer-logo .upv {
  width: 160px;
}

@media screen and (min-width: 650px) {
  .footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .footer-logo .etsit {
    width: 250px;
  }

  .footer-logo .upv {
    width: 260px;
  }
}
