.image-with-text .img-container {
    margin: 5px auto;
}

@media (min-width: 800px) {
    .image-with-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .image-with-text > * {
        width: 100%;
        flex-grow: 1;
        display: grid;
        place-items: center;
    }
}
