.newspage > * {
    margin: 10px;
}

.subtitulo {
    font-weight: 600;
}

.date {
    text-align: right;
    color: var(--secondary);
}

.article {
    margin: 20px 0;
}


@media (min-width: 500px) {
    .newspage {
        margin: auto;
        width: 500px;
    }
}