@import "./variables";

.newspage {
  & > * {
    padding: 0 15px;
    text-align: left;
  }

  & > header > h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 500px) {
  .newspage * {
    text-align: justify;
  }
}

.subtitulo {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}

.date {
  font-weight: 600;
  font-size: 14px;
  text-align: right;
}

.article {
  .light & {
    background-color: $bg-light;
  }

  .dark & {
    background-color: $bg-dark;
  }

  & > * {
    margin-top: 15px;
  }

  p {
    line-height: 1.5;
  }

  h3 {
    color: $datupv;
    font-weight: 700;
    font-size: 24px;
  }

  h4 {
    font-weight: 700;
    font-size: 20px;
  }

  h5 {
    font-weight: 900;
    font-size: 16px;
  }

  ul {
    list-style-position: inside;
  }

  ul li::marker {
    color: $datupv;
    font-size: 1.2em;
  }
}

.table-container {
  display: grid;
  place-items: center;
  overflow-x: auto;
}

@media (max-width: 800px) {
  .table-container {
    scrollbar-width: none;

    td {
      max-width: 80vw;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  thead {
    tr {
      border-bottom: none;
      background-color: $datupv;

      td {
        color: $white;
      }
    }
  }

  &,
  tr,
  td {
    border-bottom: 1px $datupv solid;
    padding: 5px 10px;
    width: max-content;
  }
}

@media (min-width: 800px) {
  .newspage > header {
    margin: auto;
    padding: 0;
    width: 800px;
  }

  .newspage > article {
    margin: auto;
    padding: 0;
    width: 800px;
  }

  .table {
    td {
      max-width: 20vw;
    }
  }
}

.img-container {
  margin: 10px auto;
  width: 80%;
  max-width: 300px;

  div {
    margin: auto;
  }

  div .img {
    border-radius: 10px;
    width: 100%;
  }
}

.image-with-text .img-container {
  margin: 5px auto;
}

@media (min-width: 800px) {
  .image-with-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    & > * {
      width: 100%;
    }
  }
}

.article a,
.article a:hover {
  color: $datupv !important;
  text-decoration: underline;
}
