:root {
    --primary-font: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

.light {
    --bg: #fff;
    --primary: #fff;
    --primaryRGB: 250, 250, 250;
    --secondary: #955251;
    --secondaryRGB: 149, 82, 81;
    --text: #121212;
    --textRGB: 18, 18, 18;
    --shadow: rgb(var(--textRGB), 0.2);
}

.dark {
    --bg: #1e1e1e;
    --primary: #292929;
    --primaryRGB: 18, 18, 18;
    --secondary: #955251;
    --secondaryRGB: 149, 82, 81;
    --text: #fff;
    --textRGB: 250, 250, 250;
    --shadow: rgb(var(--secondaryRGB), 1)
}